.grid {
  display: flex;
  flex-direction: row;
  gap: 36px;
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
}
.grid > div {
  flex: 1;
}
.card {
  padding: 36px 32px;
}
.studentRow {
  display: flex;
}
.descText {
  display: block;
}
.h3 {
  font-size: 20px;
}

@media (max-width: 1023px) {
  .grid {
    flex-direction: column;
    gap: 24px;
  }
  .card {
    padding: 24px 20px;
  }
  .studentRow {
    display: none;
  }
  .descText {
    display: none;
  }
  .h3 {
    font-size: 16px;
  }
}
